body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}
canvas{
    border: #333 solid 3px;
    position: absolute;
    display: flex;
    margin: 0 auto;
    padding: 10;
    margin-top: 12px;
    left: 50%;
    transform: translateX(-50%);
}
.repeat{
    position: absolute;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    top: 25%;
    transform: translateY(-25%);
    margin-left: 150px;
}